<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WAHT</title>
<link rel="stylesheet" href="/public/css/index.css">

<style type="text/css">
	ul,body{
		height: 0px;
		padding: 0;
		margin: 0;
	}
	li{
		list-style: none;
	}
	@font-face {
	font-family: 'iconfont';
	src: url('/public/fonts/iconfont.woff') format('woff');
	}
</style>
</head>
<body style="background: url(/public/images/from)">
	<div class="top_bar" style="background-color: rgba(150,200,220,0.9);"><!--上部导航条-->
			<div class="top_bar_m">
				<a href="/"><div class="top_bar_logo"></div></a>
				<a href="/"><div class="top_bar_logoWord"></div></a>
				<div class="search">
					<a href=""><i class="search_pt iconfont">&#xe630;</i></a>
					<input type="text" class="search_input" name="" id="" placeholder="WEB前端工程师">
				</div>
				<div class="top_bar_right">
					<ul style="color: white">
						<a href="/views/author.html" style="color: white"><li style="color: white">制作人员</li></a>
						<a href="/views/connect.html"><li style="color: white">联系我们</li></a>
						<a href="/views/about.html"><li style="color: white">关于我们</li></a>
						<a href="/views/joinin.html"><li style="color: white">加入我们</li></a>
						<a href="/register"><li style="color: white">注册丨登陆</li></a>
					</ul>
				</div>
			</div>
		</div>
</body>
</html>
