<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <link type="text/css" rel="stylesheet" href="/public/css/frontmodule.css" />
<link type="text/css" rel="stylesheet" href="/public/css/6_themes_default_style.css" front="css" />
		<title>waht</title>
		<style type="text/css">
			

		</style>
</head>
<body style="background: url(/public/images/106108_medias_2018928_2018928165942.png);background-size: cover;">
  
  <div class="indexmain">
  <div class="header">
    <div class="mainContent">
          <a href="/"><div class="logo" style="padding-left: 80px;">
  <img src="/public/images/logoword.png"  />
 
</div></a>
        
<!--module:menu begin-->
<div class="bs-module">
    <div class="menu-template6 ">
<ul id="portalmenu" class="nav">
    <li class="line" style="width: 0px; float:left; height: 30px; border-left: 1px solid #ccc; display: inline-block;  vertical-align: top;  position: relative; margin: 15px 30px 0px 0px;"></li>


                <li class="item on"><a target="_self" href="/home" >首页</a>
                </li>                <li class="item "><a target="_self" href="/Social" >社会招聘</a>
                </li>                <li class="item "><a target="_blank" href="http://campus.xiaohongshu.com" >校园招聘</a>
                </li>                <li class="item "><a target="_self" href="/Intern" >实习生招聘</a>
                </li><li class="item"><a target="_self" href="/home" >内部招聘</a>
                </li></ul>


    </div>
</div>
<!--module:menu end-->
        
<!--module:internalrecommend begin-->
<div class="bs-module">
    <div class="internalrecommend-template6 ">
<div class="internaldiv">
       <a class="internal" href="http://neitui.zhiye.com/xiaohongshu" target="_blank">内部推荐</a>
</div>
    </div>
</div>
<!--module:internalrecommend end-->
<!--module:login begin-->
<div class="bs-module">
    <div class="login-template6 ">
<style type="text/css">
    .isLogin,.unLogin {
        display:inline-block;
        vertical-align: top;
    }
</style>
<div class="login login-hearder">
   
        <div class="isLogin" style="display:none">
            <a href="/Portal/Apply/Index"><span>个人中心</span></a>|
            <a href="/User/Account/LogOut"><span>退出</span></a>
        </div>
   
    <div class="unLogin" style="display:none">
        <a class="loginlink" href="/Portal/Account/Login?returnUrl=http%3A%2F%2Fxiaohongshu.zhiye.com%2F%2F">登录</a>|
        <a class="reglink" href="/Portal/Account/Register?returnUrl=http%3A%2F%2Fxiaohongshu.zhiye.com%2F%2F">注册</a>
    </div>
   
</div>
    </div>
</div>
<!--module:login end-->
    </div>
</div>

<!--module:customerimage begin-->
<div class="bs-module">
    <div class="customerimage-template6home ">
<div class="bgImg"><img src="/public/images/106108_medias_2018928_2018928165942.png"/></div>
    </div>
</div>
<!--module:customerimage end-->
<div class="searchBox">
    
<!--module:positionsearch begin-->
<div class="bs-module">
    <div class="positionsearch-keyandflag ">
<a name="jlt" ></a>


<div class="l">
</div>
<div class="txtIn">
    <input type="text" name="k" id="k" autocomplete="off" placeholder="请输入职位关键字" maxlength="50"  />
</div>
<a class="searchBtn subButton"></a>
<style type="text/css">
    .hotSearch .hot-words {
      display: inline-block;
      float: right;
      float:left;
      width: 465px;
    }
    .hotSearch .hot-words li {
      float:left;
      background-color:transparent;
    }
    .hotSearch .hot-word-label {
      display: inline-block;
      width:85px;
      float:left;
    }
    .searchBox .hotSearch a {
        filter: none;
    }
</style>
<div class="hotSearch">
</div>



    </div>
</div>
<!--module:positionsearch end-->
</div>
<div class="footer">
    <div class="mainContent">
        <!--this is a pice of list-->
        
<!--module:positionlist begin-->
<div class="bs-module">
    <div class="positionlist-template6home ">
<!--开始-->
<div class="bottomList">
    <h3>热招职位</h3><a href="/alljob/?o=2" class="more">更多 >></a>
    <ul>
                <li><a title="资深Java开发-社区方向" href="/zpdetail/310194087">资深Java开发-社区方向</a></li>
                <li><a title="商家风控专员" href="/zpdetail/310186668">商家风控专员</a></li>
                <li><a title="社区运营实习生" href="/zpdetail/310195622">社区运营实习生</a></li>
                <li><a title="用户研究实习生（数据分析）" href="/zpdetail/310195294">用户研究实习生（数据分析）</a></li>
                <li><a title="用户研究实习生（研究助理）" href="/zpdetail/310195290">用户研究实习生（研究助理）</a></li>
                <li><a title="资深JAVA架构师" href="/zpdetail/310194989">资深JAVA架构师</a></li>
            </ul>
        </div>



    </div>
</div>
<!--module:positionlist end-->
        <!--pice end-->
        <div class="devidLine"></div>
        <!--this is a pice of list-->
        
<!--module:positionlist begin-->
<div class="bs-module">
    <div class="positionlist-template6home ">
<!--开始-->
<div class="bottomList">
    <h3>长招职位</h3><a href="/alljob/?o=1" class="more">更多 >></a>
    <ul>
                <li><a title="泛娱乐运营实习生" href="/zpdetail/310193220">泛娱乐运营实习生</a></li>
                <li><a title="品牌广告市场经理" href="/zpdetail/310180450">品牌广告市场经理</a></li>
                <li><a title="平面设计实习生（上海总部）" href="/zpdetail/310179905">平面设计实习生（上海总部）</a></li>
            </ul>
        </div>



    </div>
</div>
<!--module:positionlist end-->
        <!--pice end-->
        <div class="devidLine"></div>
        
<!--module:customerimage begin-->
<div class="bs-module">
    <div class="customerimage-template6 ">
        






<div class="er">
        <a href="http://xiaohongshu.m.zhiye.com/" target="_blank" class="cusimglink">
            <img src="/public/images/myewm.png" class="cusimg"/></a>
</div>
    </div>
</div>
<!--module:customerimage end-->
    </div>
</div></div>
</body>
</html>